{% macro element(elementData) %}

<fieldset>

{% for eachOption in elementData.options %}

<div class="checkbox">
<label for="{{elementData.name}}">
<input type="checkbox" name="{{elementData.name}}-{{eachOption.value}}" value="{{eachOption.value}}"  {% if eachOption.value %} checked="true" {%endif%}>
{{eachOption.value}}
</label>
</div>
{% endfor %}

{% if elementData.invalid %}
  error : {{ elementData.validation.error }}
{% endif %}

  
</fieldset>
{% endmacro %}