{% macro element(elementData) %}

<h3>{{elementData.title}}</h3>

<ul>
{% for summaryDataItem in elementData.summaryDataItems %}
<li>
   {{ summaryDataItem.key }} = {{ summaryDataItem.value }} : <a href="{{summaryDataItem.link}}">{{summaryDataItem.linkText}}</a>
</li>
{% endfor %}
</ul>
{% endmacro %}