
{% from "components/error-summary/macro.njk" import errorSummary %}
{% from "components/componentRenderer.njk" import componentRenderer %}
{% from "components/button/macro.njk" import nhsButton %}
{% from "components/summary-list/macro.njk" import nhsSummaryList %}

{% block content %}

  <h1 class="nhs-heading-l">{{ heading }}</h1>

  {% for group in groups %}
    <h2 class="nhs-heading-m">{{ group.heading }}</h2>
    {{ nhsSummaryList( group ) }} 
  {% endfor %}

{{ nhsButton({
  text: "Continue"
}) }}

{% endblock %}
