{% macro element(elementData) %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: elementData.name,
  name: elementData.name,
  items: elementData.options
}) }}

{% endmacro %}


