{% macro element(elementData) %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: elementData.name,
  namePrefix:elementData.name,
  hint: {
    text: elementData.hint
  }
}) }}

{% endmacro %}


