{% macro element(elementData) %}

{% if elementData.errorItems|length %}
<h2>List of errors</h2>
<ul>

{% for eachElement in elementData.errorItems %}
<li>
<a href="#{{eachElement.name}}">{{eachElement.name}} : {{ eachElement.validation.error}}</a>
</li>
{% endfor %}

</ul>
{% endif %}
  

{% endmacro %}


