{% macro element(elementData) %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: elementData.name
  },
  html: elementData.displayText
}) }}
{% endmacro %}


