{% macro element(elementData) %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: elementData.name,
  name: elementData.name,
  items: elementData.options
}) }}


{% endmacro %}


