{% macro element(elementData) %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{{ govukSelect({
  id: elementData.name,
  name: elementData.name,
  label: {
    text: elementData.displayText
  },
  items: elementData.options
}) }}

{% endmacro %}


