{% macro element(elementData) %}

<h3 class="govuk-heading-m">{{elementData.title}}</h3>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
   rows: elementData.transformed
})
}}



{% endmacro %}