
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/componentRenderer.njk" import componentRenderer %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
<form method="POST">

{% call govukFieldset({
  legend: {
    text: heading,
    classes: "govuk-fieldset__legend--xl",
    isPageHeading: true
  }
}) %}


  <h2 class="govuk-heading-l">{{ subHeading }}</h2>

  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  {{ componentRenderer(components) }}


{{ govukButton({
  text: "Save and continue"
}) }}


{% endcall %}

</form>
{% endblock %}
