{% macro element(elementData) %}

<fieldset class="usa-fieldset">


{% for eachOption in elementData.options %}

<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="{{elementData.name}}-{{eachOption.value}}" type="checkbox" {% if eachOption.value === elementData.value %} checked="true" {%endif%} name="{{elementData.name}}" value="{{eachOption.value}}">
  <label class="usa-checkbox__label" for="{{elementData.name}}-{{eachOption.value}}">{{eachOption.value}}</label>
</div>



{% endfor %}

{% if elementData.invalid %}
  error : {{ elementData.validation.error }}
{% endif %}

  
</fieldset>
{% endmacro %}


