{% macro element(elementData) %}

{% from "components/radios/macro.njk" import radios %}

{{ radios({
  idPrefix: elementData.name,
  name: elementData.name,
  items: elementData.options
}) }}


{% endmacro %}


