{% macro element(elementData) %}

<h3 class="nhsuk-heading-m">{{elementData.title}}</h3>

{% from "components/summary-list/macro.njk" import summaryList %}

{{ summaryList({
   rows: elementData.transformed
})
}}



{% endmacro %}